@import "style.css";

h2 {
  margin-bottom: 1rem;
}

h3 {
  padding: .5rem;
}

.icon {
  width: 1rem;
  height: 1rem;

}

summary {
  display: flex;
  align-items: center;
  list-style: none;
  margin: .5rem 0 .5rem 0;
}

.wrk-exper {
  background-color: #b3bcd7;
}

.wrk-exper > summary{
  border-bottom: 2px solid #a2abc6;
}

.education {
  background-color: #b2b2c6;
}

.summary-text {
  padding-left: .5rem;
}