@import "style.css";

.skills-experience-title {
  display: none;
}

.experience {
  grid-area: experience;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.experience-image {
  width: 25%;
  border-radius: 100%;
}

@media (min-width: 640px){
  main {
    display: grid;
    grid-template-areas: 
      "heading"
      "experience"
    ;
    justify-items: center;
  }

  .skills-experience-title {
    grid-area: heading;
    display: block;
    padding: 1rem 0 3rem 0;
  }

  .experience {
    grid-area: experience;
  }
}